


.gate-container {
    display: flex;
    overflow-x: hidden;
    overflow-y: visible;
    position: relative;
  }
  
  .gate-left, .gate-right {
    height: 100%;
    position: absolute;
    transition: width 2s ease-in-out ;
  }
  
  .gate-left {
    left: 0;
    width: 50%;
  }
  
  .gate-right {
    right: 0;
    width: 50%;
  }
  
  .gate-container:hover .gate-left {
    width: 0%;
  }
  
  .gate-container:hover .gate-right {
    width: 0;
  }
  @keyframes fly {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .fly-animation {
    animation: fly 3s infinite ease-in-out;
  }

  .animated-shield {
    animation: rotate-zoom 2s  linear forwards ;
  }
  
  @keyframes rotate-zoom {
    0% {
      transform: rotate(0deg) scale(1);
    }
    100% {
      transform: rotate(360deg)scale(0);
    }
  }
  
  
  